$company-color: rgb(59, 93, 93);

.card {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  min-height: 150px;
}

.attendance-error-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  font-weight: bold;

  background-color: #fff4f4;
  box-shadow: inset 6px 0 #aa3f3f;
}

.attendance-error-card p {
  color: gray;
}

.ri-error-warning-fill {
  font-size: x-large;
}

.card-title,
.card-btn,
.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-time-line {
  color: #198754;
  font-weight: 900;
}

.card-btn {
  background-color: $company-color;
  color: whitesmoke;
  width: 100%;
}

.vl {
  border-left: 2px solid black;
  height: 20px; /* Adjust the height as needed */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.position-relative {
  position: relative;
}

.checkin-time-text {
  font-size: 14px;
  color: #198754;
  text-decoration: underline;
}
.checkout-time-text {
  font-size: 14px;
  color: rgb(132, 31, 31);
  text-decoration: underline;
}

.btn.disabled {
  background-color: $company-color;
  pointer-events: none;
  opacity: 0.9;
  cursor: not-allowed;
}


/* Skeleton loading animation */
// THE LOADING EFFECT
.skeleton {
  background-color: #fbfbfb;
  box-shadow: none;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60b99a;
  animation: l2 1.5s infinite;
}
@keyframes l2 {
  0%,
  100% {
    transform: translate(-35px);
    box-shadow: 0 0 #f77825, 0 0 #554236;
  }
  40% {
    transform: translate(35px);
    box-shadow: -15px 0 #f77825, -30px 0#554236;
  }
  50% {
    transform: translate(35px);
    box-shadow: 0 0 #f77825, 0 0 #554236;
  }
  90% {
    transform: translate(-35px);
    box-shadow: 15px 0 #f77825, 30px 0 #554236;
  }
}

.loader-card {
  display: flex;
  justify-content: center;
  align-items: center;
}